<div class="mt-4">
    <form method="POST" action=""> 
        <div class="form-group">
            <label for="search-input">Keyword</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keyword...">
        </div>

        <div class="form-group">
            <label for="gender-input">Keyword</label>
            <select type="gender" name="q" class="form-control" id="gender-input">
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
{{!-- action ở dòng 2 thì nó để ta submit ở url nào nếu không nhập hay để trống thì nó sẽ submit ở trang hiện tại --}}